html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  line-height: 30px;
}

/* header style */

header {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
}

header {
  background-color: #70dd4a;
  height: 100vh;
  padding: 50px;
}

/* nav-bar style */

header .nav-bar {
  margin-top: 50px;
}

header .nav-bar .logo {
  background: url(../img/kbb-dma-logo-white.png) 0 0 no-repeat;
  background-size: contain;
  width: 140px;
  height: 30px;
  float: left;
}

header .nav-bar .logo a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

header .nav-bar ul {
  float: right;
  padding: 0;
  margin: 0;
}

header .nav-bar ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

header .nav-bar ul li a {
  color: white;
  text-decoration: none;
}

header .nav-bar ul li a:hover {
  color: #b74add;
}

header #nav-bar {
  overflow: auto;
}

header .about-us-banner {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

header .about-us-banner img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 20px solid #ffffff;
}

/* dropdown style */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
}

header .nav-bar ul li .dropdown-content a {
  display: block;
  padding: 10px 16px;
  color: black;
}

header .nav-bar ul li .dropdown-content a:hover {
  color: #70dd4a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* main style */

main h2,
h3 {
  color: #70dd4a;
  margin: 50px;
  padding-left: 100px;
}

/* contact form style */

main .contact {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  background-color: #830674;
  padding: 100px;
}

main .contact h3 {
  color: #70dd4a;
}

.contact input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  color: #70dd4a;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #70dd4a;
  padding: 20px;
  box-sizing: border-box;
}

button {
  background-color: #70dd4a;
  color: white;
  border: none;
  padding: 15px 80px;
  box-sizing: border-box;
  margin-top: 50px;
}

button:hover {
  background-color: #4a8f32;
}

/* Google map */

.map {
  width: 100%;
  margin: 0;
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 800px;
}

/* Below part style */

.below-part {
  padding: 50px;
  overflow: hidden;
  margin: 100px 0;
}

.below-part .address {
  background-color: #85369f;
  float: left;
  padding: 20px;
  color: white;
  width: 60%;
}

.below-part .address h3 {
  color: white;
}

.below-part .social-media {
  background-color: #85369f;
  float: right;
  width: 35%;
}

.below-part .social-media p {
  width: 5%;
  height: 50px;
  padding: 15px;
  color: white;
  text-align: center;
}

.below-part .social-media p img {
  width: 100%;
  display: inline-block;
  padding: 5px;
}

/* footer style */

footer {
  background-color: #70dd4a;
  padding: 50px;
}

footer p {
  margin: 0;
  color: white;
  text-align: center;
}

footer p a {
  color: white;
}

footer p a:hover {
  background-color: #8f1380;
  opacity: 0.5;
}
